.nav-link:hover {
    text-decoration: underline;
    font-size: 30px; /* Adjust the font size for the title */
    font-weight: bold;
  }
footer, .navbar {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}