body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Navbar.css */

.navbar {
  background-color: #252525;
  color: #ffffff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  margin-right: 20px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
}

/* Home.css, About.css, Projects.css, Contact.css */

.section {
  padding: 40px;
  text-align: center;
}

.section h1 {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  color: #666666;
}

:root {
  --bg-color: #fff;
  --text-color: #222;
  --home-bg: #f0f0f0;
  --aboutme-bg: #fff;
  --keyword-bg:#f0f0f0;
  --card-header-bg:#e9e5df;
  --card-body-bg:#fff;
  --card-bg: #f8f9fa;
  --feedback-bg: #f0f0f0;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  --client-review-bg: #fff;
  --client-review-border: #e0e0e0;
}

.dark-mode {
  --bg-color: #181818;
  --text-color: #f8f9fa;
  --home-bg: #23272b;
  --aboutme-bg: #181818;
  --keyword-bg:#23272b;
  --card-header-bg:#38434f;
  --card-body-bg:#000000;
  --card-bg: #23272b;
  --feedback-bg: #23272b;
  --shadow: 0 4px 16px rgba(255,255,255,0.10);
  --client-review-bg: #000000;
  --client-review-border: #fff;
}

body, .App {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

